.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 23%;
    left: 26%;
}

.form{
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center
}

.form textarea{
    width: 40rem;
    background: var(--gray-500);
    resize: none;
    height: 3.5rem;
    padding: 1rem;
    border-radius:8px ;
    line-height: 1.4;
    border: 1px solid var(--gray-700);
    color: var(--gray-300);
}

.footer{
    display: flex;
    margin-left: 0.875rem;
    align-items: center;
}

.footer button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1.1rem 1.5rem;
    border-radius: 8px;
    border: 0;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-weight: bold;
    cursor: pointer;

    transition: background 0.3s;
}

.footer button:hover{
    background: var(--blue);
}

@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
        .container{
            top: 17%;
            left: 8%;
        }

        .footer button{
            width: 5rem;
        }

        .form{
            width: 20rem;
            max-width: 30rem;
            gap: 1rem;
        }
    }