.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
  
  .countNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .container span{
    font-size: 0.875rem;
    color: var(--gray-200);
    border-radius: 0.6rem;
    background: var(--gray-400);
    padding: 1px 9px;
  }
  
  .tasksCreated{
    font-size: 0.875rem;
    color: var(--blue);
  }
  
  .completedTasks{
    font-size: 0.875rem;
    color: var(--purple);
  }
  